@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .my-line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 3;
  }

  .my-line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 2;
  }

  .my-btn {
    @apply bg-transparent border border-gray-600 w-full text-gray-600 hover:text-gray-100 hover:bg-gray-600 p-3 shadow rounded;
  }

  /* styles/globals.css */

  body,
  #root,
  p,
  h3 {
    padding: 0px;
    margin: 0px;
  }
  * {
    @apply font-sans;
  }

  .product-name,
  .product-size,
  .product-color {
    @apply text-gray-600 text-xs truncate;
  }

  .my-responisve {
    @apply p-3 lg:px-10;
  }

  .my-icons {
    @apply text-xl lg:text-2xl;
  }
  .body-3 {
    @apply text-xs text-gray-600;
  }
  .my-square-image {
    @apply w-full h-full object-cover aspect-square;
  }
  .my-carousel-category-itemClass {
    @apply w-max;
  }
  .my-carousel-category-containerClass {
    @apply p-0 container;
  }
  /* .my-carousel-category-dotListClass {
    @apply bg-red-500 p-4;
  } */
  .my-carousel-category-sliderClass {
    @apply gap-3;
  }
}

@layer base {
  .my-scrollbar-hidden {
    overflow: hidden; /* Hide scrollbars visually */
    overflow-x: auto; /* Allow horizontal scrolling */
  }

  .my-scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit browsers */
  }

  .my-scrollbar-hidden {
    scrollbar-width: none; /* Hide scrollbar for Firefox */
  }

  .my-scrollbar-hidden {
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  }
  /* Custom scrollbar styles */
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  /* Track */
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f0f0f0; /* Light background for the track */
    border-radius: 10px;
  }

  /* Handle */
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888; /* Darker color for the handle */
    border-radius: 10px;
    border: 2px solid #f0f0f0; /* Padding inside the scrollbar */
  }

  /* Handle on hover */
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Darker on hover */
  }

  /* For Mozilla Firefox */
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #888 #f0f0f0; /* Handle color followed by track color */
  }
}

@layer utilities {
  .card-space {
    @apply flex flex-col gap-3 py-3;
  }

  .batch-head {
    @apply text-gray-800 text-lg;
  }

  .batch-arrow {
    @apply text-gray-600 w-3;
  }

  .more-btn {
    @apply flex gap-1 items-center;
  }

  .product-name-2 {
    @apply text-gray-600 text-xs my-line-clamp-2;
  }

  .product-name-3 {
    @apply text-gray-600 text-sm;
  }

  .product-review {
    @apply text-gray-600 text-xs;
  }

  .product-review-2 {
    @apply text-gray-600 text-base;
  }

  .product-price {
    @apply text-gray-600 font-semibold text-lg leading-none;
  }

  .product-price-2 {
    @apply text-gray-600 font-semibold text-xl leading-none;
  }

  .price-down {
    @apply text-gray-400 text-xs line-through;
  }
}
