@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .my-line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 3;
  }

  .my-line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 2;
  }

  .my-btn {
    @apply bg-purple-800 text-gray-100 hover:bg-purple-600 p-2 rounded;
  }

  /* styles/globals.css */
  @layer base {
    .my-scrollbar-hidden {
      overflow: hidden; /* Hide scrollbars visually */
      overflow-x: auto; /* Allow horizontal scrolling */
    }

    .my-scrollbar-hidden::-webkit-scrollbar {
      display: none; /* Hide scrollbar for WebKit browsers */
    }

    .my-scrollbar-hidden {
      scrollbar-width: none; /* Hide scrollbar for Firefox */
    }

    .my-scrollbar-hidden {
      -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
    }
  }

  body,
  #root {
    padding: 0px;
    margin: 0px;
  }
}
